
<label class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <EjsCheckBox Label=@Antwoord.AntwoordToelichting ></EjsCheckBox>
</label>
@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
