<span class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <EjsRadioButton Label="@Antwoord.AntwoordToelichting" Name="a"></EjsRadioButton>
</span>

@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
