
<label class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <EjsTextBox Value="" FloatLabelType="@FloatLabelType.Auto" Multiline="true"></EjsTextBox>
</label>
@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
