
<label class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <EjsDatePicker TValue="DateTime?" Placeholder=""></EjsDatePicker>
</label>
@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
