<label class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <EjsNumericTextBox TValue="double?" Format="c2" Value=100 Currency="ERO"></EjsNumericTextBox>
</label>
@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
