@using System.Threading
@using HenE_BlazorComponent
@using Microsoft.Extensions.Options;
@using HenE_BlazorComponent.Interface
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@inject IHaveSetting Setting


<label class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <EjsTextBox @bind-Value="@Value" FloatLabelType="@FloatLabelType.Auto" Multiline="true" @onfocusin="TimeStartTeOpslaan" @onfocusout="Opgeslagen"></EjsTextBox>
</label>
<h2>@Antwoord.AntwoordToelichting</h2>
@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
    private static Timer _timer;
    public string Value { get; set; }

    public void TimeStartTeOpslaan()
    {
       // _timer = new Timer(OpslaanData, null, 0, int.Parse(configuration["Instellingen:TimerTextAreaDataOpslaanMS"]));
        /*        var configSection = configuration.GetSection("Instellingen");
                var Children = configuration.GetChildren();*/

        string a = Setting.Oefenen;
        /*        var timer = new System.Threading.Timer((args) =>
                {
                    Antwoord.AntwoordToelichting = Value;
                }, null, 0, 1000);*/
    }
    public void Opgeslagen()
    {
        Antwoord.AntwoordToelichting = Value;
        _timer.Dispose();
    }

    public void OpslaanData(Object o)
    {
        Antwoord.AntwoordToelichting = Value;
    }
}
